:root {
    --main-color: #000000;
    --black: #313131;
    --bg: #dbd1bd;
    --border: 0.1rem solid rgba(0, 0, 0, 0.3);
    font-size: 10px;
}

* { 
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}
section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1000px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 2px 5px #492c4377;;
    border-bottom: var(#eedac1);
    background: linear-gradient(to bottom, #81196b, #e09fd2); 
    min-height: 80px;
    width: 100%;

}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #ffffff;
    transition: 0.5s; 
}

.navbar a:hover {
    color: #81196b;
    padding: 1px;
    font-size: 2rem;
    text-decoration: underline #81196b;
    background-color: #DBD1BD;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #2c0925a2;
}

.icons1 img {
    margin: 1rem;
    cursor: pointer;
}

.icons1:hover {
    width: 40px;
    height: 40px;
    padding: 1px 0px 0px 3.8px;
    background-color: #81196b;
    border-radius: 10px;
    box-shadow: 1.2px 1.2px 1.6px #2c0925c4;
    position: relative;
    bottom: 4px;
}
.icons2 img {
    margin: 1rem;
    cursor: pointer;
}

.icons2:hover {
    width: 40px;
    height: 40px;
    padding: 1px 0px 0px 3.8px;
    background-color: #81196b;
    border-radius: 10px;
    box-shadow: 1.2px 1.2px 1.6px #2c0925c4;
    position: relative;
    bottom: 4px;
}
.btn {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
}
main img{
    display: block; 
    margin: 0 auto;
} 
@media (max-width: 390px){

    .navbar a{
       margin: 2px;
       font-size: 12px;
    }

    .header img {
        margin-left: -26px;
    }
    div >.icons1{
        margin-left: 4px;
        margin-right: 25px;
    }
    .Tortach {
        margin: auto;
        display: block;
    }
    .nomech{
        margin-left: 100px; ;
        
    }
}
main > article{
    background-color: #81196b;
}
main h1{
    color: #e09fd2;
    width: bold;
    font-size: 7rem;
    text-align: center;
    margin:25px;
    

}
article > img{
    margin: auto;
    left: 0;
    margin-left: 30px;
    background-color: #6b3516b2;
    border-radius: 50px;
    box-shadow: 2px 3px 4px #4d2610b6;
    transition-duration: 1s;
}
article > img:hover{
    background-color: rgb(255, 255, 255);
}
article h2{
    padding-top: 7px;
    color: white;
    margin-left: 71px;
    font-size: 20px;
}
html {
    scroll-behavior: smooth;
}

